.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border:black;
    cursor: pointer;
    border-radius: 10px;
}
